.sidebar {
    width: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

// Button bar on top
//-------------------------------------

.sidebar-topbar {
    height: 64px;
    display: flex;
    align-items: center;
}

.sidebar-topbar__button {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 0 8px;
}

.sidebar-topbar__button--add {
    background-image: url('../read/sidebar/assets/ico_add.png');

    &:hover {
        background-image: url('../read/sidebar/assets/ico_add-hover.png');
    }
}

.sidebar-topbar__button--organize {
    background-image: url('../read/sidebar/assets/ico_organize.png');

    &:hover {
        background-image: url('../read/sidebar/assets/ico_organize-hover.png');
    }
}

.sidebar-topbar__button--settings {
    background-image: url('../read/sidebar/assets/ico_settings.png');

    &:hover {
        background-image: url('../read/sidebar/assets/ico_settings-hover.png');
    }
}

.sidebar-topbar__button--about {
    background-image: url('../read/sidebar/assets/ico_about.png');

    &:hover {
        background-image: url('../read/sidebar/assets/ico_about-hover.png');
    }
}

.sidebar-topbar__separator {
    flex: 1 1 auto;
}

// Feeds tree
//-------------------------------------

.sidebar-feeds-tree {
    flex: 1 1 auto;
    background: repeat-x url('../read/sidebar/assets/shadow.png');
}
