<div ng-controller="ReadSidebarCtrl">
    <div>
        <a href="#/add-feed">Add Feed</a>
        <a href="#/organize">Organize Feeds</a>
        <a href="#/about">About</a>
        <a href="#/settings">Settings</a>
    </div>
    <div>
        <h1>All {{allUnreadArticlesCount}}</h1>
        <read-sidebar-category ng-repeat="category in categories"></read-sidebar-category>
        <div>
            <read-sidebar-feed ng-repeat="feed in uncategorized.feeds"></read-sidebar-feed>
        </div>
    </div>
</div>
