<div>
    <h2 ng-show="state !== 'changeName'"
        ng-click="changeName()">{{category.name}}</h2>
    <input type="text" ng-show="state === 'changeName'"
        ng-model="newName" ng-blur="saveName()">

    <button type="button" ng-show="state !== 'deleteWarning'"
        ng-click="state = 'deleteWarning'">Delete</button>
    <div ng-show="state === 'deleteWarning'">
        <button type="button"
            ng-click="delete()">Yes</button>
        Delete category and all feeds inside?
        <button type="button"
            ng-click="state = 'none'">No</button>
    </div>

    <div ng-repeat="feed in category.feeds">
        <organize-feed feed="feed"></organize-feed>
    </div>
</div>
