<div>
    <strong ng-show="state !== 'changeName'"
        ng-click="changeName()">{{category.name}}</strong>
    <input type="text" class="js-name-input"
        ng-show="state === 'changeName'"
        ng-model="newName" ng-blur="saveName()">

    <button type="button" ng-show="state !== 'deleteWarning'"
        ng-click="state = 'deleteWarning'">Delete</button>
    <div ng-show="state === 'deleteWarning'">
        <button type="button"
            ng-click="delete()">Yes</button>
        Delete category and all feeds inside?
        <button type="button"
            ng-click="state = 'none'">No</button>
    </div>

    <div class="js-feeds" style="min-height: 50px; background: yellow;">
        <organize-feed ng-repeat="feed in category.feeds"></organize-feed>
    </div>

</div>
