<div data-id="{{feed.id}}">
    <span class="js-move">Move</span>
    <img ng-src="{{feed.faviconUrl}}"/>

    <strong ng-show="state !== 'changeName'"
        ng-click="changeName()">{{feed.name || '[no name specified]'}}</strong>
    <span ng-show="state === 'changeName'">
        <input type="text" class="js-name-input" ng-model="newName">
        <button type="button" ng-click="saveName()">Save</button>
    </span>

    <button type="button" ng-show="state !== 'deleteWarning'"
        ng-click="state = 'deleteWarning'">Delete</button>
    <div ng-show="state === 'deleteWarning'">
        <button type="button"
            ng-click="delete()">Yes</button>
        Delete this feed?
        <button type="button"
            ng-click="state = 'none'">No</button>
    </div>
</div>
