<div>
    <span class="js-handle">Move</span>
    <img ng-src="{{feed.faviconUrl}}"/>

    <strong ng-show="state !== 'changeName'"
        ng-click="changeName()">{{feed.name || '[no name specified]'}}</strong>
    <input type="text" class="js-name-input"
        ng-show="state === 'changeName'"
        ng-model="newName" ng-blur="saveName()">

    <button type="button" ng-show="state !== 'deleteWarning'"
        ng-click="state = 'deleteWarning'">Delete</button>
    <div ng-show="state === 'deleteWarning'">
        <button type="button"
            ng-click="delete()">Yes</button>
        Delete this feed?
        <button type="button"
            ng-click="state = 'none'">No</button>
    </div>
</div>
