<div class="two-columns">
    
    <div class="column-one">
        <div class="toolbar-on-left__container">
            <div class="toolbar-on-left">
                <a class="button2" href="#/">Go back</a>
            </div>
        </div>
    </div>
    
    <div ng-switch="subview" class="column-two">
    <div class="text  scroll">
        
        <div ng-switch-when="about">
            <div ng-include="'about/views/about.html'"></div>
        </div>
        <div ng-switch-when="update">
            <div ng-include="'about/views/update.html'"></div>
        </div>
        <div ng-switch-when="controls">
            <div ng-include="'about/views/controls.html'"></div>
        </div>
        
    </div>
    </div>
    
</div>